*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: white;
}

.logo{
    width: 130px;
}

@media only screen and (max-width: 768px){
    .logo{
        width: 100px;
    }
}

@media only screen and (max-width: 576px){
    .logo{
        width: 80px;
    }
}

.nav-text{
    text-align: right;
    font-size: small;
}

@media only screen and (max-width: 576px){
    .nav-text{
        font-size: xx-small;
    }
}

.powered{
    margin-left: 40px; padding-top: -80px; color: red;
    /* box-shadow: 10px 10px 10px black; */
    text-shadow: 2px 2px 5px red;
}



select{
    box-shadow: -3px 10px 10px #000;
}

input{
    box-shadow: -3px 10px 10px #000;
    outline: none;
    border: none;
}

.custom-select{
    box-shadow: none;
}

button{
    background-color: #0770AB;
    outline: none;
    border: none;
    color: white;

}

.body-section{
    box-shadow: 1px 1px 5px #0770AB;
}

.active{
    background-color: white;
    color: #0770AB;
}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.inps{
    background-color: #0770AB;
    width: 100%; 
    height: 2.4em;
    color: white;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: -3px 5px 10px #888888;
}

input::placeholder{
    color: white;
}

.rounded-left{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.rounded-right{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.popUpContainer{
    background : linear-gradient(to right, rgb(52, 133, 179) , rgb(127, 129, 130));
    opacity: .8;
    position: absolute; 
    right: 80px; 
    top: 20px;
    box-shadow: -3px -5px 20px #000;
}

@media only screen and (max-width: 768px) {
    .popUpContainer{
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
    }
    body{
        font-size: small;
    }
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date-grid button:first-child {
    grid-column: 6;
  }


/* calender */

:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
}
main {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 80%;
    line-height: 1.4;
    font-weight: 400;
    color: var(--blue-grey-900);
}

main {
    max-width: max-content;
    margin: 0 auto 0 auto;
    padding: .5em;
    background-color: #fff;
    border: 2px solid var(--blue-grey-200);
    border-radius: 8px;
}
.month-indicator {
    color: var(--blue-grey-700);
    text-align: center;
    font-weight: 500;
}
.day-of-week, .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day-of-week {
    margin-top: 1.25em;
}
.day-of-week > * {
    font-size: 0.7em;
    color: var(--blue-grey-400);
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
}
/* Dates */
.date-grid {
    margin-top: 0.5em;
}
/* Positioning the first day */
.date-grid button:first-child {
    grid-column: 6;
}
.date-grid button {
    position: relative;
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blue-grey-600);
}
.date-grid button:hover, .date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
}
.date-grid button:active, .date-grid button.is-selected {
    background-color: var(--teal-100);
    color: var(--teal-900);
}


/* cal-end */


#notes::placeholder{
    color: black;
    position: absolute;
    top: 0;
    padding: 10px;
}

#notes{
    height: 150px;
    padding-bottom: 100px;
    padding-left: 10px;
}

.booking{
    background-color: white;
    color: #0770AB;
    box-shadow: 2px 2px 10px #000;
    font-weight: 500;
    border-radius: 1px;
}

.booking:hover{
    background-color: #0770AB;
    color: white;
}
.month-indicator{
    background-color:#0770AB ;
    color: white;
}

.bull{
    width: 80px;margin-bottom: 30px; margin-left: 5px;
    /* box-shadow: 20px 20px 20px black; */
    box-shadow: 20px 20px 30px #000;
    
}